<div class="container mt-4" >
 
    <div class="card">
            <h1>Customer Registation</h1>
     
    <form>
        <div class="form-group">
          <label>Name</label>
          <input type="text" [(ngModel)]="customername" [ngModelOptions]="{standalone: true}"  class="form-control" id="name" placeholder="Enter Name">
     
        </div>
     
        <div class="form-group">
            <label>address</label>
            <input type="text" [(ngModel)]="customeraddress" [ngModelOptions]="{standalone: true}"  class="form-control" id="address" placeholder="Enter address">
      
          </div>
     
          <div class="form-group">
            <label>Mobile</label>
            <input type="text" [(ngModel)]="mobile" [ngModelOptions]="{standalone: true}" class="form-control" id="mobile" placeholder="Enter Mobile">
      
          </div>
        
        <button type="submit" class="btn btn-primary mt-4" (click)="save()" >Submit</button>
      </form>
    </div>
    <div>
     
     
        <div class="container mt-4" >
     
            <h1>Customer Table</h1>
     
     
     
     
        <table class="table">
            <thead>
             <h1 *ngIf="!isResultLoaded">Loading.................</h1>
            
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Mobile</th>
                <th scope="col">Option</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let CustomerItem of CustomerArray">
     
                <th scope="row">{{CustomerItem.customerid  }}</th>
                <td>{{CustomerItem.customername  | uppercase}}</td>
                <td>{{CustomerItem.customeraddress }}</td>
                <td>{{CustomerItem.mobile }}</td>
     
                <td>
                  <button type="button" class="btn btn-success" (click)="setUpdate(CustomerItem)">Edit</button>
                  
                  <button type="button" class="btn btn-danger" (click)="setDelete(CustomerItem)">Delete</button>
                
                </td>
              </tr>
              
            </tbody>
          </table>
     
     
        </div>